strong {
  color: #43C43C;
}

.navbar-brand, .navbar-brand:hover {
  color: #43C43C !important;
}

li.attendee {
  height: 1.4em;
}

img.remove-att {
  height: 0.9em;
  padding-bottom: 0.1em;
}

img.remove-att:hover {
  cursor: pointer;
}

div#meeting-cost {
  font-size: 4em;
  color: #43C43C;
}

div#elapsed-time {
  font-size: 1em;
  color: gray;
}

div#attendee-list {
  padding-top: 1em;
  padding-bottom: 1em;
}

div#meeting-control {
  padding-top: 2em;
}