div#meeting-cost {
  font-size: 4em;
  color: #43C43C;
}

div#elapsed-time {
  font-size: 1em;
  color: gray;
}

div#attendee-list {
  padding-top: 1em;
  padding-bottom: 1em;
}

div#meeting-control {
  padding-top: 2em;
}